#gameInfo {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#gameInfo h1 {
  font-size: 16px;
}

#gameInfo section {
  overflow-y: auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#statusGame {
  height: 25%;
  display: flex;
  justify-content: space-between;
}

#statusGame #statusGameOutput {
  font-size: 1.2em;
}

#rulesGame {
  height: 25%;
}

#roundsGame {
  height: 50%;
}

#roundsGame table {
  width: 100%;
}

#roundsGame td {
  width: 50%;
  border: none;
}

#roundsGame tbody td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.winner_true {
  color: green;
}

.winner_false {
  color: red;
}
