#game {
  height: 100%;
  width: 75%;
  display: flex;
}

#game .player {
  height: 100%;
  width: 50%;
  text-align: center;
}

#game .identity {
  font-size: 2em;
  font-weight: bold;
}

#game .result {
  height: 50%;
  padding-top: 20%;
  font-size: 1.5em;
}

#winnerDisplay {
  display: block;
  margin-top: 45vh;
  margin-bottom: 20vh;
  font-size: 2em;
  text-align: center;
}

#back {
  display: block;
  margin: auto;
}
