<nav id="gameMenu">
  <ul>
    <li>
      <button id="gameCreate">Créer</button>
      <form id="gameCreation" style="display:none"></form>
    </li>
    <li>
      <button id="gameRandom" class="join">Jouer</button>
    </li>
  </ul>
</nav>
<table id="gameTable">
  <thead>
    <td>Joueur</td>
    <td>Manches</td>
    <td>Temps par Manche</td>
    <td></td>
  </thead>
  <tbody id="games"></tbody>
</table>
