<select id='rules'>
  <option value='' disabled selected>Choisir la Règle</option>
</select>
<input id='createPass' type='password' placeholder='password (facultatif)'></input>
<input id='createSubmit' type='submit' value='Créer'></input>
