<div id="gamePage">
  <main id="game"></main>
  <aside id="gameInfo">
    <section id="statusGame">
      <h1>Statut </h1>
      <span id="statusGameOutput"></span>
    </section>
    <section id="rulesGame">
      <h1>Règles</h1>
      <li>Nom:
        <span id="rulesName"></span>
      </li>
      <li>Manches:
        <span id="rulesRoundNumber"></span>
      </li>
      <li>Temps par Manche:
        <span id="rulesRoundTime"></span>
      </li>
    </section>
    <section id="roundsGame">
      <h1>Manches</h1>
      <table>
        <thead>
          <td id="userRoundTitle"></td>
          <td id="adversaryRoundTitle"></td>
        </thead>
        <tbody id="roundsGameOutput"></tbody>
      </table>
    </section>
  </aside>
</div>
