<header>
  <nav id="navbar">
    <ul>
      <li class="disconnect"><a id='inscription_link' class='headerLink'>Inscription</a></li>
      <li class="disconnect"><a id='login_link' class='headerLink'>Connexion</a></li>
      <li class="connect"><a id='scores_link' class='headerLink'>Scores</a></li>
      <li class="connect"><a id='game_link' class='headerLink'>Game</a></li>
      <li class="connect"><a>Mon Compte</a></li>
      <li class="connect"><a id='disconnection_button' class='headerLink'>Déconnexion</a></li>
    </ul>
  </nav>
</header>