<div class="player">
  <div class="identity"></div>
  <div class="result"></div>
  <div id="weapons"></div>
</div>
<div class="player">
  <div class="identity"></div>
  <div class="result"></div>
</div>
