header {
  padding-bottom: 20px;
}

#navbar ul {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}

#navbar ul li {
  padding: 20px;
}

#navbar ul a {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black
}

#navbar ul a:hover {
  background-color: grey
}

.visible {
  display: block
}

.hide {
  display: none
}