#scoreVisibility {
  height: 50%;
  width: 100%
}

#scoreGraph {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: stretch;
}

#scoreGraphRight{
  width: 100%
}

#scoreGraphX {
  width: 10%;
  height: 90%;
  border-right: 1px solid black;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#scoreGraphY {
  width: 100%;
  height: 10%;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

#scoreGraphValue {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.scoreValue {
  width: 100px
}

.scoreValueDetail {
  width: 100%
}

.scoreValueContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}

.win {
  background-color: green
}

.equal {
  background-color: yellow
}

.loose {
  background-color: red
}

