<form>
  <input id="name" type="text" placeholder="name" />
  <input id="pass" type="password" />
  <input id="email" type="email" placeholder="email@email.email" />
  <input id="submit" type="submit" value="Envoyer" />
</form>
