<div id="scoreVisibility">
  <div id="scoreGraph">
    <div id="scoreGraphX"></div>
    <div id="scoreGraphRight">
        <div id="scoreGraphValue"></div>
        <div id="scoreGraphY"></div>
    </div>
  </div>
</div>
