#gameMenu {
  width: 100%;
  margin-bottom: 20px;
}

#gameMenu ul {
  width: 100%;
  display: flex;
  justify-content: end;
}

#gameMenu ul li {
  margin-right: 20px;
  margin-left: 20px;
}

#gameMenu button {
  width: 150px;
}

#roundsGameOutput {
  width: 100%;
}

#roundsGameOutput thead {
  width: 100%;
}

#roundsGame td {
  width: 50%;
  border: none;
}

#roundsGame table {
  width: 100%;
}
