#gameTable {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#gameTable thead td {
  height: 50px;
  vertical-align: center;
  background-color: lightgray;
}

#gameTable td {
  width: 25%;
}

#gameTable #noFound {
  border: none;
  height: 30vh;
  width: 100%;
  vertical-align: center;
}
