table {
  table-layout: fixed;
}

tbody,
thead {
  width: 100%;
}

thead tr {
  width: 100%;
}

tr,
td {
  border: solid;
}

td {
  border: 1px solid black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
