<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>test client websocket</title>
  <link rel="stylesheet" type="text/css" href="/css/common/decoration.css">
  <link rel="stylesheet" type="text/css" href="/css/common/form.css">
  <link rel="stylesheet" type="text/css" href="/css/common/size.css">
  <link rel="stylesheet" type="text/css" href="/css/common/table.css">
  <link rel="stylesheet" type="text/css" href="/css/{{PAGE_NAME}}.css">
</head>

<body></body>

<script type="text/javascript">
  const PAGE_NAME = "{{PAGE_NAME}}"
  const URL = {
    apiHost: "{{API_HOST}}",
    clientHost: "{{CLIENT_HOST}}",
    gameHost: "{{GAME_HOST}}"
  }
  if (PAGE_NAME != "inscription" && PAGE_NAME != "login") {
    if (sessionStorage.getItem('token') === null || sessionStorage.getItem('token') === "null") {
      window.location = 'http://' + window.location.host + '/login'
    }
  }
</script>
<script type="text/javascript" src="/js/init.js"></script>
<script type="text/javascript" src="/js/api.js"></script>

</html>
